<div>
  <h1>Games List</h1>

<p>Pick a game to Buy</p>
<ul>
  <li *ngFor="let game of games; let i = index">
    <h1 [class.mySyle]="isShown">{{game.title | titlecase}}</h1>
    <br>
    <h1>{{i}}</h1>
    <br>
    <img [src]="game.image" alt="picture">
  </li>
</ul>

<button (click)="showContacts()">Show contacts</button>
</div>

<div *ngIf="isShown">
  <h1>Our contacts......</h1>
</div>

<div>
  <input #name placeholder="name">
  <button (click)="showName(name.value)">Show Name</button>
  <br>
</div>
<div>
  <input [(ngModel)]="userName" placeholder="name">
  <h1>Your name is: {{userName}}</h1>
</div>

